.skills{

padding:50px 10%;

background:#030312;

position:relative;

overflow:hidden;
}

.skills::before{

content:"";

position:absolute;

width:400px;
height:400px;

right:0;
top:0;

background:

radial-gradient(

circle,

rgba(123,92,255,.35),

transparent 70%

);

filter:blur(80px);

}

.skills-title{

text-align:center;

font-size:3.5rem;

font-weight:800;

margin-bottom:70px;

color:white;

position:relative;

z-index:2;
}

.skills-grid{

display:grid;

grid-template-columns:

repeat(
2,
1fr
);

gap:28px;

position:relative;

z-index:2;
}

.skill-card{

background:

rgba(
255,
255,
255,
0.03
);

border:

1px solid rgba(
255,
255,
255,
0.05
);

padding:30px;

border-radius:24px;

transition:.3s;

backdrop-filter:
blur(10px);

}

.skill-card:hover{

transform:

translateY(-8px);

box-shadow:

0 0 30px

rgba(
20,
216,
255,
0.2
);

border-color:

#14d8ff;
}

.skill-top{

display:flex;

gap:18px;

align-items:center;

margin-bottom:25px;
}

.skill-icon{

font-size:2rem;

width:65px;

height:65px;

display:flex;

align-items:center;

justify-content:center;

border-radius:18px;

background:

linear-gradient(
135deg,
#14d8ff,
#7b5cff
);

color:white;
}

.skill-card h3{

color:white;

margin-bottom:6px;
}

.skill-card p{

color:#a8adc7;

font-size:.95rem;

line-height:1.5;
}

.dots{

display:flex;

gap:10px;
}

.dot{

width:12px;
height:12px;

border-radius:50%;

background:

rgba(
255,
255,
255,
0.12
);

}

.active{

background:

linear-gradient(
135deg,
#14d8ff,
#7b5cff
);

box-shadow:

0 0 12px

#14d8ff;
}

@media(max-width:900px){

.skills-grid{

grid-template-columns:
1fr;

}

.skills-title{

font-size:3rem;
}

}

@media(max-width:480px){

.skills-title{
font-size:2.2rem;
margin-bottom:40px;
}

.skills{
padding:60px 20px;
padding-top:30px;
padding-bottom:50px;
}

.skill-card{
padding:20px;
}

.skill-icon{
width:50px;
height:50px;
font-size:1.5rem;
}

.dots{
gap:6px;
flex-wrap:wrap;
}

.dot{
width:10px;
height:10px;
}

.skill-top{
gap:12px;
align-items:flex-start;
}

.skill-card h3{
font-size:1rem;
}

.skill-card p{
font-size:.9rem;
}

}