@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@400;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
background:#060816;
font-family:'Inter',sans-serif;
overflow-x:hidden;
color:white;
}

a{
text-decoration:none;
color:inherit;
}

ul{
list-style:none;
}

img{
max-width:100%;
display:block;
}

section{
padding:100px 10%;
}

.container{
max-width:1300px;
margin:auto;
}